     
    /*Generali*/
    *{ 
    padding: 0;
    margin:0;
    box-sizing: border-box;
    }
    body{
    font-family: Arial, Helvetica, sans-serif;
    }
    .green-back{
      background-color: rgb(162,211,155);
    }
    .bordue-back{
      background-color:rgb(97,8,43)
    }
    .azur-back{
      background-color:rgb(0,147,206)
    }
    .red-back{
      background-color: red;
    }
    .rscuro-back{
      background-color: rgb(210,0,31);
    }
    .ciano-back{
      background-color: rgb(180,208,231) ;;
    }
    .blue-back{
      background-color: rgb(13,36,128);
    }
    .yellow-back{
      background-color: rgb(255,216,48);
    }
    ul{
      list-style-type: none;
    }
    header {
        height: 80px;   
        }
    h1 {
            font-size: 50px;
            margin: 0 0 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        } 
    h3{
      font-size: 22px;
    }  
    
    h4{
      font-size: 15px;
      margin:20px 0;
    }  
    .jumbo-pic{
        height: 290px;
        min-width: 150px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: small;
    }
    p{
        font-size: small;
        margin-bottom: 40px;
    }
    .grey{
      color: grey;
    }
    /*Navbar  */
    .container-navbar{
        font-size:small;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        background-color: white;
        z-index: 2;
    }
    .menu-left ul, .menu-right ul{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .menu-left li ,.menu-right li{
        margin: 5px;
        padding: 10px;
      }
      .menu-left li a, .menu-right li a{
        text-decoration: none;
        color: grey;
      }
      /* Main */
      .container{
        width: 0, auto;
        height: 1600px;
        min-height: 900px;
      }
      .jumbotron{
        width: 0, auto;
        height: 400px;
        background-color:rgb(180,208,231) ;
      }
      .principale{
        position: relative;
        margin:     20px auto;
        max-width: 715px;
        min-width: 690px;
        height: 430px;
      }
      .center{
        text-align: center;
      }
      .secondario{
        margin:     0px auto;
        padding: 100px 0;
        max-width: 690px;
        height: 900px;
      }
      .clearfix{
        content: "";
        clear: both;
        display: table;
}
      .float-right{
        float:right;
      }
      .float-left{
        float: left;
      }

      /* Bottoni */
      .b-small{
        color:white;
        background-color: rgb(0,97,255);
        padding: 5px 12px;
        border: 0;
      }
      .b-button{
        color:white;
        background-color: rgb(0,97,255);
        border: 0;
        height: 30px;
        width: 160px;
        min-width: 80px;
        padding: 5px;
        font-size: small;
        margin-bottom: 10px;
      }
      .w-button{
        background-color: white;
        color: black;
        border: 1px solid gray;
        height: auto;
        width: auto;
        padding: 5px 10px;
        font-size: x-small;
      }
      .downward{
        font-size: 23px;
        position:absolute;
        bottom:45px;
        left:5px;
      }
      .container-cerchi{
        display: flex;
        height: 20px;
        width: 300px;
        margin-top:25px;
        text-align: center;
        justify-content: space-between;

      }
      .cerchio{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: white;
      }
      .bordo{
        border: 4px solid blue;
      }

      /* Colonne */
      .card{
        margin-top: 25px;
        background-color: white;
        max-height: 700px;
        border: 1px solid gray;
      }
      .row{
        display: flex;
        gap:30px;
        flex-basis: calc(100%/3);
      }
      .header-card{
        text-align: center;
        height: auto;
        width: auto;
        padding: 10px 0;
        border-bottom: 1px solid gray;
      }
      .body-card{
        width:auto;
        height: auto;
        max-width: 230px;
        padding: 10px 15px;
      }
      .body-card li{
        margin:10px 0;
        font-size: small;
      }
      .link{
        text-decoration:underline;
        color: blue;
        font-size: small;
      }
      .cut{
        width: 50px;
        height: 1px;
        background-color: black;
        margin-bottom: 30px;
        }
        .body-card-big{
        width:auto;
        height: auto;
        padding: 10px 15px;
        }
        .header-cardone{
        font-size:small;
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
        .partner-pic{
          height: 380px;
          margin-right: 25px;
        }
        .vantaggi{
          width: 0, auto;
          background-color:rgb(180,208,231) ;
        }
        .row-operazioni{
          display: flex;
          gap:10px;
          flex-basis: calc(100%/3); 
        }
        .pics{
          text-align: center;
        }
        .operazioni-pics{
          height:200px
        }
        .card-operazioni{
        max-width: 280px;
        margin-top: 30px;
        }
        .box-scritta{
          height: 90px;
          width: 350px;
          margin-top:100px;
        }
        /* Quadrati */
        .container-square{
          display: flex;
          width: 0, auto;
          height: 700px;
        }
        .square{
          background-color: rgb(245,245,245);
          width: calc(100%/3);
          height: calc(100%/3);
          display: flex;
          flex-wrap: wrap;
        }
        .small-square{
          width: 50%;
          height: 50%; 
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .small-square:hover{
          border: 10px solid rgba(255, 255, 255, 0.5);
        }
        .small-square img{
          width: 50%;
          filter: invert(1);
        }
        
        #cliente{
          width: 200px;
        }